import pandas as pd

This NoteBook is an intial look at blocks of putative zero expression across all data sets. 
We find through previous data summation that there are too many None or non called AB contigs to get a clear or honest signal. Instead we are going to try and focus on the largest called contig and its homeologs. Here we find that largest set of zero blocks belongs to Super-Scaffold-7 a strong A called contig.

In [ ]:
df = pd.read_csv('/home/ndh0004/Documents/cor_exp/raw_total_counts/clusters.tsv',
                 sep='\t')

In [2]:
df['total'] = df['block_len'] * df['num']

NameError: name 'df' is not defined

In [10]:
df.head()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>contig</th>
      <th>block_len</th>
      <th>num</th>
      <th>total</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>Super-Scaffold_352</td>
      <td>1</td>
      <td>16</td>
      <td>16</td>
    </tr>
    <tr>
      <th>1</th>
      <td>Super-Scaffold_352</td>
      <td>2</td>
      <td>6</td>
      <td>12</td>
    </tr>
    <tr>
      <th>2</th>
      <td>Super-Scaffold_352</td>
      <td>3</td>
      <td>2</td>
      <td>6</td>
    </tr>
    <tr>
      <th>3</th>
      <td>Super-Scaffold_352</td>
      <td>5</td>
      <td>1</td>
      <td>5</td>
    </tr>
    <tr>
      <th>4</th>
      <td>scaffold840|size322022_obj</td>
      <td>1</td>
      <td>2</td>
      <td>2</td>
    </tr>
  </tbody>
</table>
</div>

In [25]:
dfg = df[['contig', 'total']].groupby(['contig']).sum().reset_index()

In [30]:
dfg_max = dfg.max()
dfg

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>contig</th>
      <th>total</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>Super-Scaffold_1</td>
      <td>13</td>
    </tr>
    <tr>
      <th>1</th>
      <td>Super-Scaffold_10</td>
      <td>65</td>
    </tr>
    <tr>
      <th>2</th>
      <td>Super-Scaffold_100</td>
      <td>53</td>
    </tr>
    <tr>
      <th>3</th>
      <td>Super-Scaffold_1001</td>
      <td>7</td>
    </tr>
    <tr>
      <th>4</th>
      <td>Super-Scaffold_1005</td>
      <td>1</td>
    </tr>
    <tr>
      <th>5</th>
      <td>Super-Scaffold_1007</td>
      <td>1</td>
    </tr>
    <tr>
      <th>6</th>
      <td>Super-Scaffold_1008</td>
      <td>2</td>
    </tr>
    <tr>
      <th>7</th>
      <td>Super-Scaffold_101</td>
      <td>13</td>
    </tr>
    <tr>
      <th>8</th>
      <td>Super-Scaffold_1015</td>
      <td>6</td>
    </tr>
    <tr>
      <th>9</th>
      <td>Super-Scaffold_10163</td>
      <td>3</td>
    </tr>
    <tr>
      <th>10</th>
      <td>Super-Scaffold_1019</td>
      <td>5</td>
    </tr>
    <tr>
      <th>11</th>
      <td>Super-Scaffold_102</td>
      <td>13</td>
    </tr>
    <tr>
      <th>12</th>
      <td>Super-Scaffold_1026</td>
      <td>2</td>
    </tr>
    <tr>
      <th>13</th>
      <td>Super-Scaffold_1028</td>
      <td>17</td>
    </tr>
    <tr>
      <th>14</th>
      <td>Super-Scaffold_1035</td>
      <td>2</td>
    </tr>
    <tr>
      <th>15</th>
      <td>Super-Scaffold_104</td>
      <td>62</td>
    </tr>
    <tr>
      <th>16</th>
      <td>Super-Scaffold_1043</td>
      <td>2</td>
    </tr>
    <tr>
      <th>17</th>
      <td>Super-Scaffold_1045</td>
      <td>4</td>
    </tr>
    <tr>
      <th>18</th>
      <td>Super-Scaffold_105</td>
      <td>63</td>
    </tr>
    <tr>
      <th>19</th>
      <td>Super-Scaffold_1053</td>
      <td>8</td>
    </tr>
    <tr>
      <th>20</th>
      <td>Super-Scaffold_1059</td>
      <td>5</td>
    </tr>
    <tr>
      <th>21</th>
      <td>Super-Scaffold_1068</td>
      <td>11</td>
    </tr>
    <tr>
      <th>22</th>
      <td>Super-Scaffold_1069</td>
      <td>20</td>
    </tr>
    <tr>
      <th>23</th>
      <td>Super-Scaffold_107</td>
      <td>26</td>
    </tr>
    <tr>
      <th>24</th>
      <td>Super-Scaffold_1079</td>
      <td>1</td>
    </tr>
    <tr>
      <th>25</th>
      <td>Super-Scaffold_1081</td>
      <td>1</td>
    </tr>
    <tr>
      <th>26</th>
      <td>Super-Scaffold_1086</td>
      <td>2</td>
    </tr>
    <tr>
      <th>27</th>
      <td>Super-Scaffold_1089</td>
      <td>7</td>
    </tr>
    <tr>
      <th>28</th>
      <td>Super-Scaffold_1090</td>
      <td>2</td>
    </tr>
    <tr>
      <th>29</th>
      <td>Super-Scaffold_1091</td>
      <td>3</td>
    </tr>
    <tr>
      <th>...</th>
      <td>...</td>
      <td>...</td>
    </tr>
    <tr>
      <th>834</th>
      <td>scaffold703|size682600_subseq_1:163947_obj</td>
      <td>1</td>
    </tr>
    <tr>
      <th>835</th>
      <td>scaffold707|size750104_subseq_1:141233_obj</td>
      <td>12</td>
    </tr>
    <tr>
      <th>836</th>
      <td>scaffold707|size750104_subseq_1:141233_obj-est...</td>
      <td>1</td>
    </tr>
    <tr>
      <th>837</th>
      <td>scaffold715|size383850_subseq_1:65958_obj</td>
      <td>1</td>
    </tr>
    <tr>
      <th>838</th>
      <td>scaffold723|size645259_subseq_492174:535456_obj</td>
      <td>1</td>
    </tr>
    <tr>
      <th>839</th>
      <td>scaffold733|size372862_subseq_1:63701_obj</td>
      <td>1</td>
    </tr>
    <tr>
      <th>840</th>
      <td>scaffold733|size372862_subseq_320449:372862_obj</td>
      <td>1</td>
    </tr>
    <tr>
      <th>841</th>
      <td>scaffold78|size1284898_subseq_798562:850416_obj</td>
      <td>2</td>
    </tr>
    <tr>
      <th>842</th>
      <td>scaffold793|size346813_obj</td>
      <td>4</td>
    </tr>
    <tr>
      <th>843</th>
      <td>scaffold811|size334221_obj</td>
      <td>1</td>
    </tr>
    <tr>
      <th>844</th>
      <td>scaffold812|size333354_obj</td>
      <td>3</td>
    </tr>
    <tr>
      <th>845</th>
      <td>scaffold81|size1269928_subseq_829575:872811_obj</td>
      <td>3</td>
    </tr>
    <tr>
      <th>846</th>
      <td>scaffold820|size400829_subseq_1:156319_obj</td>
      <td>7</td>
    </tr>
    <tr>
      <th>847</th>
      <td>scaffold821|size331322_obj</td>
      <td>2</td>
    </tr>
    <tr>
      <th>848</th>
      <td>scaffold829|size326103_subseq_1:187006_obj</td>
      <td>2</td>
    </tr>
    <tr>
      <th>849</th>
      <td>scaffold82|size1690254_subseq_1634102:1690254_obj</td>
      <td>1</td>
    </tr>
    <tr>
      <th>850</th>
      <td>scaffold835|size920189_subseq_598692:650099_obj</td>
      <td>1</td>
    </tr>
    <tr>
      <th>851</th>
      <td>scaffold840|size322022_obj</td>
      <td>2</td>
    </tr>
    <tr>
      <th>852</th>
      <td>scaffold883|size302044_subseq_1:63089_obj</td>
      <td>1</td>
    </tr>
    <tr>
      <th>853</th>
      <td>scaffold886|size537054_subseq_1:180591_obj</td>
      <td>1</td>
    </tr>
    <tr>
      <th>854</th>
      <td>scaffold905|size293518_obj</td>
      <td>3</td>
    </tr>
    <tr>
      <th>855</th>
      <td>scaffold915|size358355_subseq_1:150255_obj</td>
      <td>1</td>
    </tr>
    <tr>
      <th>856</th>
      <td>scaffold931|size281775_obj</td>
      <td>1</td>
    </tr>
    <tr>
      <th>857</th>
      <td>scaffold93|size1230182_subseq_1:987274_obj</td>
      <td>11</td>
    </tr>
    <tr>
      <th>858</th>
      <td>scaffold940|size434073_subseq_1:159843_obj</td>
      <td>6</td>
    </tr>
    <tr>
      <th>859</th>
      <td>scaffold944|size276584_obj</td>
      <td>5</td>
    </tr>
    <tr>
      <th>860</th>
      <td>scaffold95|size3125451_subseq_3076855:3125451_obj</td>
      <td>3</td>
    </tr>
    <tr>
      <th>861</th>
      <td>scaffold967|size269018_subseq_1:86613_obj</td>
      <td>1</td>
    </tr>
    <tr>
      <th>862</th>
      <td>scaffold988|size463049_subseq_1:157878_obj</td>
      <td>4</td>
    </tr>
    <tr>
      <th>863</th>
      <td>scaffold998|size260683_obj</td>
      <td>1</td>
    </tr>
  </tbody>
</table>
<p>864 rows × 2 columns</p>
</div>

In [31]:
dfg_max

contig    scaffold998|size260683_obj
total                           1378
dtype: object

In [32]:
dfgt10 = df.loc[df['block_len']>=10]

In [33]:
dfgt10_tot = df[['contig','total']].groupby(['contig']).sum().reset_index()

In [35]:
dfgt10_tot.max()

contig    scaffold998|size260683_obj
total                           1378
dtype: object

In [36]:
dfgt10_tot.loc[dfgt10_tot['total'] == 1378 ]

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>contig</th>
      <th>total</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>452</th>
      <td>Super-Scaffold_7</td>
      <td>1378</td>
    </tr>
  </tbody>
</table>
</div>